<!-- src/app/components/product-card/product-card.component.html -->
<div class="product-card">
  
  <div class="product-image">
    <img [src]="product.thumbnail" [alt]="product.title">
  </div>
  <div class="product-info">
    <h3 class="product-title">{{ product.title }}</h3>
    <div class="product-stock" 
    [ngClass]="{'out-of-stock': product.stock === 5, 'in-stock': product.stock > 0}">
     {{ product.stock === 5 ? 'Out of Stock' : 'In Stock' }}
     </div>
    <div class="product-price">
      <span *ngIf="product.discountPercentage">
        <span class="original-price">{{ product.price }} EGP</span>
        <span class="discount-price">{{ product.price | discount:product.discountPercentage | number: '1.2-2' }} EGP</span>
      </span>
      <span *ngIf="!product.discountPercentage">{{ product.price }} EGP</span>
    </div>
    <div class="product-rating">
      <div class="stars">
        <span *ngFor="let star of [1, 2, 3, 4, 5]">
          <span class="star" [class.filled]="star <= product.rating">★</span>
        </span>
      </div>
      <span class="rating-value">{{ product.rating }}</span>
    </div>
  
    <div class="product-actions">
      <button class="view-details-btn" [routerLink]="['/product', product.id]">View Details</button>
      <button (click)="addToCart(product)" class="add-to-cart-btn">Add to Cart</button>    </div>
  </div>
</div>